*{
    padding: 0;
    margin: 0;
}

:root{
    --accent-color: #21b39f;
    --background-color: #fdfffc;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 20px;
    width: 92vw;
    height: 92vh;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

#text-panel{
    display: flex;
    align-items: center;
    max-width: 60%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    background-color: #b8ddd7;
    border-radius: 30px;
}

#text-panel textarea{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    background-color: #b8ddd7;
    border: none;
    height: 60%;
    width: 93%;
    resize: none;
}

#text-panel textarea:focus{
    outline: none;
}

#panel-buttons{
    background-color: var(--accent-color);
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 20px 0 20px 3.5%;
    width: fit-content;
    gap: 5px;
    border-radius: 10px;
}

#panel-buttons h4{
    font-size: 1em;
    background-color: #2e7c73;
    font-weight: 500;
    padding: 4px;
    border-radius: 10px;
    margin-right: 8px;
}

#panel-buttons button{
    font-size: 1em;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.808);
    border-style: none;
    background-color: #21b39f;
    padding: 4px;
    border-radius: 10px;
}

#panel-buttons button:disabled{
    color: white;
    font-weight: 500;
    background-color: #278f83;
}

#output-panel{
    background-color: #dbf3ef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 96%;
    height: 30%;
    padding: 2%;
    border-radius: 30px;
}

#output-panel textarea{
    background-color: #dbf3ef;
    width: 98%;
    height: 60%;
}

#output-panel button{
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--accent-color);
    border-radius: 20px;
    border-style: none;
    width: 120px;
    height: 40px;
}

#output-panel button:hover{
    background-color: #278f83;
}

#output-panel img{
    background-color: #278f83;
    padding: 3px;
    border-radius: 100%;
}

#saved-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 30px;
    gap: 1%;
    overflow-y: auto;
}

#saved-texts h3{
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    margin: 7% 7%;
    background-color: #2e7c73;
    width: fit-content;
    padding: 3px;
    border-radius: 8px;
    align-self: flex-start;
}

#text-container{
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 1em;
    width: 80%;
    padding: 5%;
    min-height: 15%;
    background-color: #2e7c73;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 16px;
}

#text-container button{
    background-color: #21b39f;
    width: 40px;
    height: 40px;
    padding: 2%;
    border-radius: 100%;
    border-style: none;
    margin-top: 2%;
}

#text-container button:hover{
    background-color: #278f83;
}

@media (max-width: 600px){
    main{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    #text-panel{
        max-width: none;
        width: 95%;
        height: 60%;
    }

    #saved-texts{
        width: 95%;
        height: 40%;
    }

    #saved-texts{
        gap: 5%;
    }

    #saved-texts h3{
        margin: 7% 4%
    }

    #text-container{
        min-height: 40%;
    }
}