* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #F6F6F6;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: ;
}

#main-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 615px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    gap: 40px;
}

#title{
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 56px;
    font-weight: 100;
}

strong{
    color: #22D4FD;
}