* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    background-color: #19180a;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

header{
    display: flex;
}

nav{
    display: flex;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff7d00;
}

main{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding: 5%;
}

#main-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 615px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    gap: 40px;
}

#title{
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 56px;
    font-weight: 100;
}

#main-right{
    max-width: fit-content;
}

#link-header{
    text-align: center;
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#main-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

a:link, a:visited{
    display: flex;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid #ff7d00;
    padding: 16px;
    width: 378px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-weight: 600;
}

a:hover{
    border-color: white;
    filter: saturate(0%) contrast(100);
}

strong{
    color: #ff7d00;
}

#link-icon{
    width: 24px;
    height: 24px;
}

img{
    width: 100%;
}

footer{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 24px 0;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #ff7d00;
    gap: 10px;
    max-height: 24px;
    width: 100%;
}

#footer-icon{
    width: 16px;
    filter: saturate(0%) contrast(100);
}

#footer-link{
    padding: 0px;
    width: fit-content;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    gap: 6px;
    
}

#footer-link:hover{
    text-decoration: underline;
}